services:
  app:
    build: .
    container_name: lanmei
    restart: always
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    networks:
      - app-network

  postgres:
    image: pgvector/pgvector:pg16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data:rw
    networks:
      - app-network
  pmhq:
    image: linyuchen/pmhq:7.0.7
    container_name: pmhq
    privileged: true
    restart: always
    environment:
      - ENABLE_HEADLESS=false
    networks:
      - app-network
    volumes:
      - qq_volume:/root/.config/QQ

  llbot:
    image: linyuchen/llbot:7.7.2
    container_name: llonebot
    restart: always
    ports:
      - "3080:3080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - PMHQ_HOST=pmhq
      - WEBUI_PORT=3080
    networks:
      - app-network
    volumes:
      - qq_volume:/root/.config/QQ
      - ./llbot_config:/app/llbot/data:rw
    depends_on:
      - pmhq

volumes:
  qq_volume:
  postgres_data:

networks:
  app-network:
    driver: bridge
